[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
Flask = "*"
google-cloud-storage = "*"
twilio = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
python-json-logger = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
alembic = "*"
aiohttp = "*"

[dev-packages]
